extends layout.pug

block scripts
  title Détails membre
  script(src="js/detailsMembre.js")
  script(src="js/rejected.js")

block content
  .row
    h1 Détails pour (#{$membre['name']} - #{$membre['givavNumber']} - #{$membre['email']})
  .row
    label.col-form-label(for="cfeTODO") Nombre d'heures de CFE à réaliser pour #{$membre['name']}&nbsp;:
    .col-6.col-xl-1
      input.form-control(type="number" min="0" max="200" placeholder=$defaultCFE_TODOHour value=$membre['todoHour'])#cfeTODO
  .row.mb-1
    i * Laissez vide pour prendre le nombre d'heure par défaut qui est de #{$defaultCFE_TODOHour}
  .row.mb-2
    .col-6
      .form-check
        input.form-check-input(type="checkbox" checked=$membre['enableMultiDateDeclaration'] == 1)#enableMultiDateDeclaration
        label.form-label(for="enableMultiDateDeclaration") Saisie multi-date
  .row.mb-4
    .col-6.col-xl-1
      button.btn-primary#updateParams Mettre à jour
  .row
    span
      b Statut actuel:&nbsp;
      span#details
  .row
    .col-md-3.offset-md-9
      .row
        label.col-sm-3.col-form-label(for="search") Recherche:&nbsp;&nbsp;
        .col-9
          input.form-control(type="text" placeholder="")#search
  .row
    .col-12
      table.table.table-striped(x-numero=$membre['givavNumber'])#list
        thead
          tr
            th Statut
            th Date
            th Bénéficiaire
            th Type
            th Durée
            th Détails
            th Cause du rejet
        tbody
          each line in $lines
            tr(x-id=$line['id'] x-validation=$line['status'])
              td.validation(x-validated-by=$line['validatedName'])= $line['status']
              td= $line['workDate']
              td= $line['beneficiary']
              td= $line['workType']
              td(x-value=$line['duration'])= $durationToHuman($line['duration'])
              td= $line['details']
              td= $line['rejectedCause']
        tfoot
          tr
            th Statut
            th Date
            th Bénéficiaire
            th Type
            th Durée
            th Détails
            th Cause du rejet
  .hstack.gap-4.mb-3
    button.btn.btn-danger.back Retour
    button.btn.btn-primary.download(x-name=$membre['name']) Télécharger en CSV

  include rejected.pug
