extends layout.pug

block scripts
  script(src="js/index.js")

block content
  .container
    .row.mt-2
      .alert.alert-primary Bonjour #{$name}
        small.text-muted &nbsp; (numéro GIVAV : #{$givavNumber})
    .row
      if $validated > 0
        .alert.alert-success Vous avez réalisé #{$durationToHuman($validated)} de CFE
          small.text-muted &nbsp;(depuis le 1er janvier)
          if ($thecfetodo > 0) && ($validated < $thecfetodo)
            .progress.mt-2(role="progressbar" aria-label="heures réalisées" aria-valuenow=$validated aria-valuemin="0" aria-valuemax=$thencfetodo style="height: 30px")
              - $percent = ($validated/$thecfetodo)*100
              .progress-bar(style="width: "+$percent+"%;") #{$durationToHuman($validated)} réalisés soit #{round($percent)} %
          if $isOwnerOfGlider && $va
            br
            | Vous êtes propriétaire ou membre de section (ANEG ou CORMEILLES) et vous pouvez déclarer au maximum
            b &nbsp;#{durationToHuman($va)}&nbsp;
            | pour la
            b &nbsp;visite annuelle&nbsp;
            | de votre/vos machine(s).
            if $vaValidatedAndNotCount > 0
              br
              | Vous avez aussi réalisé #{durationToHuman($vaValidatedAndNotCount)} mais elles ne sont pas comptabilisées car elles dépassent le nombre d'heure maximum de visite annuelle.
            br
            | Vous êtes assujettis à la
            b &nbsp;CNB&nbsp;
            | (Contribution à la Non-Banalisation), si votre/vos machine(s) ne vole(nt) pas suffisamment avec des pilotes non-propriétaire à bord, vous êtes redevable d'heures supplémentaires de CFE. Chaque machine doit faire
            b &nbsp;20h&nbsp;
            | de vol avec à bord un pilote non-propriétaire. Si ce n'est pas le cas, le propriétaire / les co-propriétaires / l'ensemble des membres de la section doivent le nombre d'heure restant x 2 en plus de leur CFE. Par exemple s'il manque 10h de vol banalisé au LS8 de l'ANEG, l'ensemble des membres ANEG doivent 20h de CFE supplémentaire, il suffit qu'un membre fasse 20h ou 2 membres fassent 10h chacun pour solder la CNB.
            br
            a(href="/cnb") Détails de la CNB


      $reste = $thecfetodo - $validated
      if $reste > 0
        .alert.alert-warning
          b Il vous reste #{$durationToHuman($reste)} à faire
          small.text-muted &nbsp;(d'ici au 31 décembre)
      else if $thecfetodo == 0
        .alert.alert-success
          span.h3
            i.bi.bi-emoji-smile
            b &nbsp;Vous n'êtes pas redevable d'heure de CFE&nbsp;
            i.bi.bi-emoji-smile
      else
        .alert.alert-success
          span.h3
            i.bi.bi-emoji-smile
            b &nbsp;Vous n'êtes plus redevable d'heure de CFE&nbsp;
            i.bi.bi-emoji-smile

      if $thecfetodo > 0
        p Sur cette année vous êtes redevable de
          b &nbsp;#{durationToHuman($thecfetodo)}&nbsp;
          | heures de CFE.
          small.text-muted &nbsp;Si vous êtes nouveau inscrit vous n'avez pas d'heure à faire (bonus 1ère année)
          if $isOwnerOfGlider == 1
            br
            | Vous êtes propriétaire et/ou membre de section, le nombre d'heure de CFE est calculé si votre machine n'est pas banalisée ou si votre machine ne fait pas assez d'heure avec un pilote non-propriétaire à bord. Mais si votre machine fait le nombre d'heure de banalisation vous ne serez redevable que de #{durationToHuman($defaultCFE_TODO)}.

      if $submited > 0
        .alert.alert-info #{durationToHuman($submited)} en attente de validation
          small.text-muted &nbsp;(les heures sont généralement validées tous les 2 ou 3 jours)

    .row
      .col
        h4 Le club vous propose les travaux du moment :
    .row.mb-3
      .col
        each proposal, i in $proposals
          if i % 3 == 0
            .row.mb-2
              .col
          if $proposal['isActive'] == '1'
            case $proposal['priority']
              when "Top priorité"
                - $color = 'bg-danger'
              when "Haute"
                - $color = 'bg-warning'
              when "Basse"
                - $color = 'bg-success'
              default
                - $color = 'bg-info'

            span.badge.rounded-pill.mx-2.px-2.py-2.proposal(class=$color x-id=$proposal['id'] x-title=$proposal['title'] x-details=$proposal['details'] x-workType=$proposal['workType'] x-notValidAfterDate=$proposal['notValidAfterDate'] x-who=$proposal['who'] x-whoEmail=$proposal['whoEmail']) (#{proposal['priority']}) #{my_substr($proposal['title'], 30)}

    .row.d-block.d-sm-none.justify-content-md-center
      .btn-group-vertical(role="group")
        if $isAdmin
          button.btn.btn-warning.validation
            span= durationToHuman($durationSubmitted)
            | &nbsp;à valider
          button.btn.btn-primary.membres Liste des membres
          button.btn.btn-secondary.propositions Je propose
        button.btn.btn-success.declaration Je déclare
        button.btn.btn-info.listeCFE Je consulte
        if $isAdmin
          button.btn.btn-primary.export Export
        button.btn.btn-danger.logout Déconnexion
      if $isAdmin
        .btn-group-vertical(role="group").mt-4
          button.btn.btn-primary.listeMachines Liste des machines
          button.btn.btn-success.listeFormulaires Liste des réponses aux formulaires
          button.btn.btn-info.mailingLists Mailing lists

    .row.d-none.d-sm-block.justify-content-md-center
      .btn-group(role="group")
        if $isAdmin
          button.btn.btn-warning.validation
            span= durationToHuman($durationSubmitted)
              br
              à valider
          button.btn.btn-primary.membres Liste des membres
          button.btn.btn-secondary.propositions Je propose
        button.btn.btn-success.declaration Je déclare
        button.btn.btn-info.listeCFE Je consulte
        if $isAdmin
          button.btn.btn-primary.export Export
        button.btn.btn-danger.logout Déconnexion
      .btn-group(role="group").mt-4
        button.btn.btn-success.creerDevis Envoyer un devis
        button.btn.btn-info.listeDevis Voir les devis
      if $isAdmin
        .btn-group(role="group").mt-4
          button.btn.btn-primary.listeMachines Liste des machines
          button.btn.btn-success.listeFormulaires Liste des réponses aux formulaires
          button.btn.btn-info.mailingLists Mailing lists

  .modal(tabindex="-1" role="dialog" aria-hidden="true")#modalDisplayProposal
    .modal-dialog
      .modal-content
        .modal-header
          h5.modalProposalTitle
          button.btn.btn-close(type="button" data-bs-dismiss="modal")
        .modal-body
          .row
            .col
              p.modalProposalWorktype
          .row
            .col
              p.modalProposalDetails
          .row
            .col
              p.modalProposalWho
        .modal-footer
          button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Annuler
          button.btn.btn-primary(type="button")#gotoProposalDeclare J'ai participé et je déclare
