extends layout.pug

block scripts
  script(src="js/index.js")

block content
  .container
    .row.mt-2
      .alert.alert-primary Bonjour #{$name}
        small.text-muted &nbsp; (numéro GIVAV : #{$givavNumber})
    .row
      if $validated > 0
        .alert.alert-success Vous avez réalisé #{$durationToHuman($validated)} de CFE
          small.text-muted &nbsp;(depuis le 1er janvier)
          if ($thecfetodo > 0) && ($validated < $thecfetodo)
            .progress.mt-2(role="progressbar" aria-label="heures réalisées" aria-valuenow=$validated aria-valuemin="0" aria-valuemax=$thencfetodo style="height: 30px")
              - $percent = ($validated/$thecfetodo)*100
              .progress-bar(style="width: "+$percent+"%;") #{$durationToHuman($validated)} réalisés soit #{round($percent)} %


      $reste = $thecfetodo - $validated
      if $reste > 0
        .alert.alert-warning
          b Il vous reste #{$durationToHuman($reste)} à faire
          small.text-muted &nbsp;(d'ici au 31 décembre)
      else if $thecfetodo == 0
        .alert.alert-success
          span.h3
            i.bi.bi-emoji-smile
            b &nbsp;Vous n'êtes pas redevable d'heure de CFE&nbsp;
            i.bi.bi-emoji-smile
      else
        .alert.alert-success
          span.h3
            i.bi.bi-emoji-smile
            b &nbsp;Vous n'êtes plus redevable d'heure de CFE&nbsp;
            i.bi.bi-emoji-smile

      if $thecfetodo > 0
        p Sur cette année vous êtes redevable de
          b &nbsp;#{durationToHuman($thecfetodo)}&nbsp;
          | heures de CFE.
          small.text-muted &nbsp;Si vous êtes nouveau inscrit vous n'avez pas d'heure à faire (bonus 1ère année), si vous êtes pilote-propriétaire vous avez un quota de CNB à réaliser.

      if $submited > 0
        .alert.alert-info #{durationToHuman($submited)} en attente de validation
          small.text-muted &nbsp;(les heures sont généralement validées tous les 2 ou 3 jours)

    .row
      .col
        h4 Le club vous propose les travaux du moment :
    .row.mb-3
      .col
        each proposal in $proposals
          if $proposal['isActive'] == '1'
            case $proposal['priority']
              when "Top priorité"
                - $color = 'bg-danger'
              when "Haute"
                - $color = 'bg-warning'
              when "Basse"
                - $color = 'bg-success'
              default
                - $color = 'bg-info'

            span.badge.text-black.rounded-pill.mx-2.px-2.py-2.proposal(class=$color x-title=$proposal['title'] x-details=$proposal['details'] x-workType=$proposal['workType'] x-notValidAfterDate=$proposal['notValidAfterDate'] x-who=$proposal['who'] x-whoEmail=$proposal['whoEmail']) (#{proposal['priority']}) #{my_substr($proposal['title'], 30)}

    .row.d-block.d-sm-none.justify-content-md-center
      .btn-group-vertical(role="group")
        if $isAdmin
          button.btn.btn-warning.validation
            span= durationToHuman($durationSubmitted)
            | &nbsp;à valider
          button.btn.btn-primary.membres Liste des membres
          button.btn.btn-secondary.propositions Je propose
        button.btn.btn-success.declaration Je déclare
        button.btn.btn-info.listeCFE Je consulte
        if $isAdmin
          button.btn.btn-primary.export Export
        button.btn.btn-danger.logout Déconnexion
      if $isAdmin
        .btn-group-vertical(role="group").mt-4
          button.btn.btn-primary.listeMachines Liste des machines
          button.btn.btn-success.listeFormulaires Liste des réponses aux formulaires

    .row.d-none.d-sm-block.justify-content-md-center
      .btn-group(role="group")
        if $isAdmin
          button.btn.btn-warning.validation
            span= durationToHuman($durationSubmitted)
              br
              à valider
          button.btn.btn-primary.membres Liste des membres
          button.btn.btn-secondary.propositions Je propose
        button.btn.btn-success.declaration Je déclare
        button.btn.btn-info.listeCFE Je consulte
        if $isAdmin
          button.btn.btn-primary.export Export
        button.btn.btn-danger.logout Déconnexion
      if $isAdmin
        .btn-group(role="group").mt-4
          button.btn.btn-primary.listeMachines Liste des machines
          button.btn.btn-success.listeFormulaires Liste des réponses aux formulaires

  .modal(tabindex="-1" role="dialog" aria-hidden="true")#modalDisplayProposal
    .modal-dialog
      .modal-content
        .modal-header
          h5.modalProposalTitle
          button.btn.btn-close(type="button" data-bs-dismiss="modal")
        .modal-body
          .row
            .col
              p.modalProposalWorktype
          .row
            .col
              p.modalProposalDetails
          .row
            .col
              p.modalProposalWho
        .modal-footer
          button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Annuler
          button.btn.btn-primary(type="button")#addProposal J'ai participé et je déclare
