extends layout.pug

block scripts
  title Liste des membres
  script(src="js/listeMembres.js")
  script
    | var defaultCFE_TODO = #{$defaultCFE_TODO};

block content
  .row
    h1 Liste des membres
  .row
    .col-md-1
      button.btn.btn-danger.back Retour
    .col-md-4.offset-md-2
      .row
	.col-sm-2
          select.form-control#filter
            option(value="all") Tous
            option(value="validated") Les membres ayant validés leurs CFE
            option(value="0") Dispensés de CFE
            option(value="admin") Les admin
            option(value="not0notDefault") Ni à CFE 0 ni au défaut
    .col-md-3
      .row
        label.col-sm-3.col-form-label(for="search") Recherche:&nbsp;&nbsp;
        .col-sm-9
          input.form-control(type="text" placeholder="nom / prénom")#search
  .row
    .col-12
      table.table.table-striped#list
        thead
          tr
            th Endosser
            th Numéro GIVAV
            th Nom
            th CFE réalisées
            th CFE à réaliser
            th Détails
            th Admin
        tbody
          each membre in $membres
            tr(x-num=$membre['givavNumber'] x-isAdmin=$membre['isAdmin'] x-cfeTODO=$membre['cfeTODO'] x-cfeValidated=$membre['cfeValidated'], x-cfeCompleted=$membre['cfeCompleted'])
              td
                if ($inSudo == false) && ($currentUser != $membre['givavNumber'])
                  button.btn.btn-secondary.sudo
                    i.bi.bi-person-circle
                    span.d-none.d-sm-block2 Endosser
              td #{$membre['givavNumber']}
              td #{$membre['name']}
              td= durationToHuman($membre['cfeValidated'])
              if $membre['cfeTODO'] == 0
                td aucun
              else
                td= durationToHuman($membre['cfeTODO'])
              td
                button.btn.btn-primary.displayDetails
                  i.bi.bi-eye
                  span.d-none.d-sm-block2 &nbsp;Détails
              td.isAdmin
        tfoot
          tr
            th Endosser
            th Numéro GIVAV
            th Nom
            th CFE réalisées
            th CFE à réaliser
            th Admin
  .hstack.gap-4.mb-3
    button.btn.btn-danger.back Retour
