extends layout.pug

block scripts
  title Mes déclarations
  script(src="js/listeCFE.js")

block content
  $displayRejectedColumn = false
  each line in $lines
    if $line['rejectedCause'] != ''
      $displayRejectedColumn = true
  .row
    h1 Mes déclarations (#{$name} - #{$givavNumber})
  .row
    .col-md-3.offset-md-9
      .row
        label.col-sm-3.col-form-label(for="search") Recherche:&nbsp;&nbsp;
        .col-sm-9
          input.form-control(type="text" placeholder="")#search
  - $total = []
  - $currentYear = 0
  .row
    .col-12
      table.table.table-striped#list
        thead
          tr
            th Editer
            th Date
            th Statut
            th Bénéficiaire
            th Type
            th Durée
            th Détails
            if $displayRejectedColumn
              th Cause du rejet
        tbody
          each line in $lines
            $year = $line['year']
            if array_key_exists($year, $total) == false
              - $total[$year] = 0
            if $line['status'] == 'validated'
              - $total[$year] += $line['duration']
            if $line['year'] != $currentYear
              if $currentYear != 0
                tr.table-info(x-type="sum")
                  td
                  td Sur l'année #{$currentYear}
                  td
                  td
                  td
                  if $total[$currentYear] >= 2
                    td Total #{$total[$currentYear]} heures
                  else
                    td Total #{$total[$currentYear]} heure
                  td
              $currentYear = $line['year']
            tr(x-validation=$line['status'])
              td
                if $isAdmin == true || $line['status'] == 'submitted'
                  button.btn.btn-primary.edit(x-id=$line['id'])
                    i.bi.bi-pencil
                      span.d-none.d-sm-block2 &nbsp;Editer
              td.date #{$line['workDate']}
              td.status #{$line['status']}
              td #{$line['beneficiary']}
              td #{$line['workType']}
              if $line['duration'] >= 2
                td(x-value=$line['duration']) #{$line['duration']} heures
              else
                td(x-value=$line['duration']) #{$line['duration']} heure
              td #{$line['details']}
              if $displayRejectedColumn
                td #{$line['rejectedCause']}
          if $total[$currentYear] > 0
            tr.table-info(x-type="sum")
              td
              td Sur l'année #{$currentYear}
              td
              td
              td
              if $total[$currentYear] >= 2
                td Total #{$total[$currentYear]} heures
              else
                td Total #{$total[$currentYear]} heure
              td
        tfoot
          tr
            th Editer
            th Date
            th Statut
            th Bénéficiaire
            th Type
            th Durée
            th Détails
            if $displayRejectedColumn
              th Cause du rejet
  .hstack.gap-4.mb-3
    button.btn.btn-danger.back Retour
    button.btn.btn-primary.download Télécharger en CSV
