extends layout.pug

block scripts
  title Mes déclarations
  script(src="js/listeCFE.js")

block content
  $displayRejectedColumn = false
  each line in $lines
    if $line['rejectedCause'] != ''
      $displayRejectedColumn = true
  .row
    h1 Mes déclarations (#{$name} - #{$givavNumber})
  .row
    .col-md-3.offset-md-9
      .row
        label.col-sm-3.col-form-label(for="search") Recherche:&nbsp;&nbsp;
        .col-sm-9
          input.form-control(type="text" placeholder="")#search
  - $total = []
  - $totalVA = []
  - $currentYear = 0
  .row
    .col-12
      table.table.table-striped#list
        thead
          tr
            th(width="15%") Editer
            th(width="10%") Date
            th(width="10%") Statut
            th(width="10%") Bénéficiaire
            th(width="10%") Type
            th(width="10%") Durée
            th Détails
            if $displayRejectedColumn
              th Cause du rejet
        tbody
          each line in $lines
            $year = $line['year']
            if array_key_exists($year, $total) == false
              - $total[$year] = 0
              - $totalVA[$year] = 0
            if $line['status'] == 'validated' && $line['beneficiary'] != 'VA'
              - $total[$year] = $total[$year] + $line['duration']
            if $line['status'] == 'validated' && $line['beneficiary'] == 'VA'
              - $totalVA[$year] = $totalVA[$year] + $line['duration']
            if $line['year'] != $currentYear
              - $warningVA = ''
              if $currentYear != 0
                if $totalVA[$currentYear] >= $va
                  - $total[$currentYear] = $total[$currentYear] + $va
                  - $warningVA = ". "+durationToHuman($totalVA[$currentYear] - $va)+" de VA n'ont pas été prises en compte car le nombre maximum de VA est de " + durationToHuman($va)
                else
                  - $total[$currentYear] = $total[$currentYear] + $totalVA[$currentYear]
                tr.table-info(x-type="sum")
                  td
                  td Total des CFE
                    b  validées
                    |  sur l'année 
                    b= $currentYear
                    if $warningVA != ''
                      = $warningVA
                  td
                  td
                  td
                  td
                    b= durationToHuman($total[$currentYear])
                  td
              $currentYear = $line['year']
            tr(x-validation=$line['status'])
              td
                if ($isAdmin === true) || ($line['status'] == 'submitted')
                  button.btn.btn-primary.me-2.edit(x-id=$line['id'])
                    i.bi.bi-pencil
                      span.d-none.d-sm-block2 &nbsp;Editer
                  button.btn.btn-danger.delete(x-id=$line['id'])
                    i.bi.bi-trash
                      span.d-none.d-sm-block2 &nbsp;Supprimer
              td.date #{$line['workDate']}
              td.status #{$line['status']}
              td #{$line['beneficiary']}
              td #{$line['workType']}
              td(x-value=$line['duration'])= durationToHuman($line['duration'])
              td #{$line['details']}
              if $displayRejectedColumn
                td #{$line['rejectedCause']}
          if array_key_exists($currentYear, $total) == true
            if $total[$currentYear] > 0
              tr.table-info(x-type="sum")
                td
                td Total des CFE
                  b  validées
                  |  sur l'année 
                  b= $currentYear
                td
                td
                td
                td
                  b= durationToHuman($total[$currentYear])
                td
          else
            if $currentYear == 0
              $currentYear = date('Y')
            tr.table-info(x-type="sum")
              td
              td Aucune heure validée sur l'année #{$currentYear}
              td
              td
              td
              td
              td

        tfoot
          tr
            th Editer
            th Date
            th Statut
            th Bénéficiaire
            th Type
            th Durée
            th Détails
            if $displayRejectedColumn
              th Cause du rejet
  .hstack.gap-4.mb-3
    button.btn.btn-danger.back Retour
    button.btn.btn-primary.download Télécharger en CSV

  .modal(tabindex="-1" role="dialog" aria-hidden="true")#modalConfirm
    .modal-dialog
      .modal-content
        .modal-header
          h5 Supprimer la déclaration
          button.btn.btn-close(type="button" data-bs-dismiss="modal")
        .modal-body
          p Êtes-vous sûr de vouloir supprimer cette déclaration ?
        .modal-footer
          button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Annuler
          button.btn.btn-primary(type="button")#deletionConfirm Oui, je supprime
