extends layout.pug

block scripts
  title Mes déclarations
  script(src="js/listeCFE.js")

block content
  $displayRejectedColumn = false
  each line in $lines
    if $line['rejectedCause'] != ''
      $displayRejectedColumn = true
  .row
    h1 Mes déclarations (#{$name} - #{$givavNumber})
  .row
    .col-md-3.offset-md-9
      .row
        label.col-sm-3.col-form-label(for="search") Recherche:&nbsp;&nbsp;
        .col-sm-9
          input.form-control(type="text" placeholder="")#search
  .row
    .col-12
      table.table.table-striped#list
        thead
          tr
            th Date
            th Statut
            th Bénéficiaire
            th Type
            th Durée
            th Détails
            if $displayRejectedColumn
              th Cause du rejet
        tbody
          each line in $lines
            tr(x-validation=$line['status'])
              td.date #{$line['workDate']}
              td.status #{$line['status']}
              td #{$line['beneficiary']}
              td #{$line['workType']}
              td #{$line['duration']}
              td #{$line['details']}
              if $displayRejectedColumn
                td #{$line['rejectedCause']}
        tfoot
          tr
            th Date
            th Statut
            th Bénéficiaire
            th Type
            th Durée
            th Détails
            if $displayRejectedColumn
              th Cause du rejet
  .hstack.gap-4.mb-3
    button.btn.btn-danger.back Retour
    button.btn.btn-primary.download Télécharger en CSV
